* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1A1D23;
  color: #fff;
  outline: 0;
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a{
  text-decoration: none;
}
